name: Run tests

on:
  pull_request:
    branches:
      - main
    paths:
      - packages/core-utils
      - packages/react

jobs:
  test:
    name: Run all tests

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Node.JS and pnpm
        uses: ./.github/actions/prepare-nodejs-pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test
